 <div class="container mt-5 h100vh">
  <div class="row">
    <div class="col-md-3 title-category-list mb-5 justify-content-start">L'index des recettes
        <p style="font-size:20px">
        <%= link_to "nom", index_path(section: 'abc') %> |
        <%= link_to "Liste", index_path(section: 'liste') %>
      </p>
    </div>
     <div class="col-md-1"></div>

    <% if params[:section] == 'liste' || params[:section].nil? %>
     <% @recipes.each do |recipe| %>
          <div class="col-lg-2 col-md-3 col-sm-4 mb-4 title-category-list mt-3">
            <%= link_to recipe_path(recipe) do %>
            <div class="photo-category-recipe">
            <% if recipe.photo.present? %>
      <%= cl_image_tag(  recipe.photo.present?,

                      :transformation => [
                          {:width => 1000, :crop => "scale"},
                          {:quality => "auto"},
                          {:fetch_format => :auto}
                      ],
                      class: "card-img-top") %>   <p>no</p>   <% end %>
            </div>
            <% end %>
            <div class="details-category-recipe p-1">
              <div class="title-category-recipe-index">
                <% if recipe.photo.present? %>
                  <%= recipe.name %>
                <% else %>
                  <%= link_to recipe.name, recipe_path(recipe) %>
                <% end %>
                </div>
             </div>
          </div>
        <% end %>

    <% else %>
      <% @recipes_by_letter.each do |letter, recipes| %>
        <div class="col-md-3">
          <h1><%= letter %></h1>
          <ul class="list-unstyled">
            <% recipes.each do |recipe| %>
              <div class="link-read-more"><%= link_to recipe.name, recipe_path(recipe) %></div>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
